#spring.application.name=Movie Review
#server.port=8089
server:
  port: 8089

spring:
  application:
    name: Movie Review

#    DB config
  datasource:
    url: jdbc:h2:./db/test;AUTO_SERVER=TRUE
    username: root
    password: qwerty
    driver-class-name: org.h2.Driver
  sql:
    init:
      mode: always